<head>
    <title>simple</title>
</head>

<body>
<div class="container">
    <header>
        <h1>Monthly Resolutions</h1>

        <label class="hide-finished">
            <input type="checkbox" checked="{{hideFinished}}">
            Hide Finished Resolution
        </label>

        {{#if currentUser}}
            <form class="new-resolution">
                <input type="text" name="title" placeholder="A new resolution"/>
                <input type="submit" value="Submit"/>
            </form>
        {{/if}}
    </header>
    <ul>
        {{#each resolutions}}
            {{> resolution}}
        {{/each}}
    </ul>
    {{> loginButtons}}
</div>
</body>

<template name="resolution">
    <li class="{{#if checked}}checked{{/if}}">
        <input type="checkbox" checked="{{checked}}" class="toggle-checked"/>
        {{#if isOwner}}
            <button class="toggle-private">
                {{#if private}}
                    Private
                {{else}}
                    Public
                {{/if}}
            </button>
        {{/if}}
        <span class="text">{{title}}</span>
        <button class="delete">Remove</button>
    </li>
</template>